section.header{
  display: flex;
  flex-wrap: wrap;
  background-color: $nike-gray;
  div.header{
    flex-direction: column;
    height: 86px;
    .nikelogo{
      height: inherit;
      width: 400px;
      background-color:$nike-green;
      display: block;
      float: left;
      img{
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        display: block;
        width: 10em;
        height: inherit;
      }
    }
    #hamburger{
      display:none;
    }
    .menu{
      display: block;
      height: inherit;
      float: left;
      padding-left: 385px;
      ul{
        list-style: none;
        line-height: 86px;
        li{
          font-size: 16px;
          display: inline;
          color: #fff;
          padding-right: 35px;
        }
      }
    }
  }
}


@media screen and (min-width: 600px) {
  section.header{
    -webkit-flex-direction: row;
    flex-direction: row;
    div.header{
      .menu{
        padding-left: 45px;
      }
    }
    }
  }
@media screen and (min-width: 1024px) {
  section.header{
    -webkit-flex-direction: row;
    flex-direction: row;
    div.header{
      .menu{
        padding-left: 205px;
      }
    }
  }
}

@media screen and (max-width: 600px){
  section.header{
    align-items: flex-start;
    justify-content: flex-end;
    -webkit-flex-direction: column;
    flex-direction: column;
    div.header{
      //div.nikelogo{
      //  width: 10em;
      //}
      div.menu{
        display:none;
      }
    }
  }
}

